.header-wrapper {
    height: 80px;
    padding: 12px 0;
    background-color: var(--white);
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 56px;
}

/* logo样式 */
.header .logo {
    display: flex;
    /* justify-content: center; */
    width: 93px;
    height: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* 导航栏样式 */
.header .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    line-height: 56px;
}

.nav a {
    display: block;
    padding: 0 20px;
    color: var(--general);
    font-size: 16px;
}
.nav a.active {
    color: var(--primary);
}

.menu-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    animation: sticky 1.2s;

}
@keyframes sticky {
    0% {
        top: -200px;
    }
    100% {
        top: 0;
    }
}
