:root {
    --primary: #1971E8;
    --general: #303133;
    --generaler: #606266;
    --gray: #909399;
    --white: #fff;
    --light: #F7F7F7;
    --lighter: #F5F9FF;
    --grayer: #EDF6FF;
    --border: #0454C0;
    --black: #1C1C1C;
    --lighgray: #FCFCFC;
}
